body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../brand_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:101px;
    width:330px;
    height:719px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:725px;
}

.u1 {
    position:absolute;
    left:2px;
    top:352px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:101px;
    width:330px;
    height:719px
}

.u2_container {
    position:absolute;
    left:-10px;
    top:101px;
    width:340px;
    height:150px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:340px;
    height:150px;
}

.u3 {
    position:absolute;
    left:2px;
    top:67px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:-10px;
    top:101px;
    width:340px;
    height:150px
}

.u4_original {
    background-image: url('../AllBack_files/u0_original.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:50px;
    width:330px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:56px;
}

.u5 {
    position:absolute;
    left:2px;
    top:17px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:50px;
    width:330px;
    height:50px
}

.u6_original {
    background-image: url('../AllBack_files/u2_original.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:330px;
    height:50px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:330px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:17px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:330px;
    height:50px
}

.u9_original {
    background-image: url('../brand_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:64px;
    top:51px;
    width:66px;
    height:48px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:54px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:64px;
    top:51px;
    width:66px;
    height:48px
}

.u11_text {
    position:absolute;
    left:78px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:78px;
    top:80px;
    width:40px;
    height:19px
}

.u12_text {
    position:absolute;
    left:145px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:145px;
    top:80px;
    width:40px;
    height:19px
}

.u13_text {
    position:absolute;
    left:208px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:208px;
    top:80px;
    width:40px;
    height:19px
}

.u14_text {
    position:absolute;
    left:273px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:273px;
    top:80px;
    width:40px;
    height:19px
}

.u15_text {
    position:absolute;
    left:10px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:10px;
    top:80px;
    width:40px;
    height:19px
}

.u16_original {
    background-image: url('../brand_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:18px;
    top:55px;
    width:24px;
    height:24px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:18px;
    top:55px;
    width:24px;
    height:24px
}

.u18_original {
    background-image: url('../brand_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:84px;
    top:55px;
    width:28px;
    height:24px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:24px;
}

.u19 {
    position:absolute;
    left:2px;
    top:4px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:84px;
    top:55px;
    width:28px;
    height:24px
}

.u20_original {
    background-image: url('../brand_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:216px;
    top:55px;
    width:24px;
    height:24px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:216px;
    top:55px;
    width:24px;
    height:24px
}

.u22_original {
    background-image: url('../brand_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:279px;
    top:56px;
    width:24px;
    height:24px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:279px;
    top:56px;
    width:24px;
    height:24px
}

.u24_original {
    background-image: url('../brand_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:152px;
    top:56px;
    width:24px;
    height:24px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:152px;
    top:56px;
    width:24px;
    height:24px
}

.u27_original {
    background-image: url('../brand_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:10px;
    top:5px;
    width:140px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:10px;
    top:5px;
    width:140px;
    height:30px
}

.u29_original {
    background-image: url('../brand_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:150px;
    top:5px;
    width:140px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:150px;
    top:5px;
    width:140px;
    height:30px
}

.u31_container {
    position:absolute;
    left:22px;
    top:48px;
    width:78px;
    height:72px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u32 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:22px;
    top:48px;
    width:78px;
    height:72px
}

.u33_container {
    position:absolute;
    left:22px;
    top:131px;
    width:78px;
    height:72px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u34 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:22px;
    top:131px;
    width:78px;
    height:72px
}

.u35_container {
    position:absolute;
    left:22px;
    top:214px;
    width:78px;
    height:72px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u36 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:22px;
    top:214px;
    width:78px;
    height:72px
}

.u37_container {
    position:absolute;
    left:22px;
    top:297px;
    width:78px;
    height:72px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u38 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:22px;
    top:297px;
    width:78px;
    height:72px
}

.u39_container {
    position:absolute;
    left:22px;
    top:380px;
    width:78px;
    height:72px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u40 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:22px;
    top:380px;
    width:78px;
    height:72px
}

.u41 {
    position:absolute;
    left:117px;
    top:241px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:117px;
    top:160px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:117px;
    top:77px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_text {
    position:absolute;
    left:117px;
    top:327px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:117px;
    top:327px;
    width:110px;
    height:16px
}

.u45 {
    position:absolute;
    left:117px;
    top:417px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../brand_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:10px;
    top:124px;
    width:280px;
    height:3px;
}

.u46 {
    position:absolute;
    left:10px;
    top:124px;
    width:280px;
    height:3px
}

.u47_line {
    background-image: url('../brand_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:10px;
    top:206px;
    width:280px;
    height:3px;
}

.u47 {
    position:absolute;
    left:10px;
    top:206px;
    width:280px;
    height:3px
}

.u48_line {
    background-image: url('../brand_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:10px;
    top:292px;
    width:280px;
    height:3px;
}

.u48 {
    position:absolute;
    left:10px;
    top:292px;
    width:280px;
    height:3px
}

.u49_line {
    background-image: url('../brand_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:10px;
    top:373px;
    width:280px;
    height:3px;
}

.u49 {
    position:absolute;
    left:10px;
    top:373px;
    width:280px;
    height:3px
}

.u50_line {
    background-image: url('../brand_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:10px;
    top:456px;
    width:280px;
    height:3px;
}

.u50 {
    position:absolute;
    left:10px;
    top:456px;
    width:280px;
    height:3px
}

.u51_original {
    background-image: url('../brand_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:10px;
    top:5px;
    width:140px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u52 {
    position:absolute;
    left:2px;
    top:7px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:10px;
    top:5px;
    width:140px;
    height:30px
}

.u53_original {
    background-image: url('../brand_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:150px;
    top:5px;
    width:140px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:7px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:150px;
    top:5px;
    width:140px;
    height:30px
}

.u55_container {
    position:absolute;
    left:22px;
    top:48px;
    width:78px;
    height:72px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u56 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:22px;
    top:48px;
    width:78px;
    height:72px
}

.u57_container {
    position:absolute;
    left:22px;
    top:131px;
    width:78px;
    height:72px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u58 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:22px;
    top:131px;
    width:78px;
    height:72px
}

.u59_container {
    position:absolute;
    left:22px;
    top:214px;
    width:78px;
    height:72px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u60 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:22px;
    top:214px;
    width:78px;
    height:72px
}

.u61_container {
    position:absolute;
    left:22px;
    top:297px;
    width:78px;
    height:72px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u62 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:22px;
    top:297px;
    width:78px;
    height:72px
}

.u63_container {
    position:absolute;
    left:22px;
    top:380px;
    width:78px;
    height:72px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:72px;
}

.u64 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:22px;
    top:380px;
    width:78px;
    height:72px
}

.u65 {
    position:absolute;
    left:117px;
    top:241px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:117px;
    top:160px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:117px;
    top:77px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:117px;
    top:327px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:117px;
    top:417px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_line {
    background-image: url('../brand_files/u70_line.png');
}

.u70_line {
    position:absolute;
    left:10px;
    top:124px;
    width:280px;
    height:3px;
}

.u70 {
    position:absolute;
    left:10px;
    top:124px;
    width:280px;
    height:3px
}

.u71_line {
    background-image: url('../brand_files/u71_line.png');
}

.u71_line {
    position:absolute;
    left:10px;
    top:206px;
    width:280px;
    height:3px;
}

.u71 {
    position:absolute;
    left:10px;
    top:206px;
    width:280px;
    height:3px
}

.u72_line {
    background-image: url('../brand_files/u72_line.png');
}

.u72_line {
    position:absolute;
    left:10px;
    top:292px;
    width:280px;
    height:3px;
}

.u72 {
    position:absolute;
    left:10px;
    top:292px;
    width:280px;
    height:3px
}

.u73_line {
    background-image: url('../brand_files/u73_line.png');
}

.u73_line {
    position:absolute;
    left:10px;
    top:373px;
    width:280px;
    height:3px;
}

.u73 {
    position:absolute;
    left:10px;
    top:373px;
    width:280px;
    height:3px
}

.u74_line {
    background-image: url('../brand_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:10px;
    top:456px;
    width:280px;
    height:3px;
}

.u74 {
    position:absolute;
    left:10px;
    top:456px;
    width:280px;
    height:3px
}

