body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../AllBack_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:50px;
    width:330px;
    height:50px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:56px;
}

.u1 {
    position:absolute;
    left:2px;
    top:17px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:50px;
    width:330px;
    height:50px
}

.u2_original {
    background-image: url('../AllBack_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:330px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:330px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:330px;
    height:50px
}

.u5_original {
    background-image: url('../more_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:263px;
    top:51px;
    width:66px;
    height:48px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:54px;
}

.u6 {
    position:absolute;
    left:2px;
    top:16px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:263px;
    top:51px;
    width:66px;
    height:48px
}

.u7_text {
    position:absolute;
    left:78px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:78px;
    top:80px;
    width:40px;
    height:19px
}

.u8_text {
    position:absolute;
    left:145px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:145px;
    top:80px;
    width:40px;
    height:19px
}

.u9_text {
    position:absolute;
    left:208px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:208px;
    top:80px;
    width:40px;
    height:19px
}

.u10_text {
    position:absolute;
    left:274px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:274px;
    top:80px;
    width:40px;
    height:19px
}

.u11_text {
    position:absolute;
    left:10px;
    top:80px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:10px;
    top:80px;
    width:40px;
    height:19px
}

.u12_original {
    background-image: url('../more_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:18px;
    top:55px;
    width:24px;
    height:24px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:18px;
    top:55px;
    width:24px;
    height:24px
}

.u14_original {
    background-image: url('../more_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:84px;
    top:55px;
    width:28px;
    height:24px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:24px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:84px;
    top:55px;
    width:28px;
    height:24px
}

.u16_original {
    background-image: url('../more_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:216px;
    top:55px;
    width:24px;
    height:24px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:216px;
    top:55px;
    width:24px;
    height:24px
}

.u18_original {
    background-image: url('../more_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:280px;
    top:56px;
    width:24px;
    height:24px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u19 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:280px;
    top:56px;
    width:24px;
    height:24px
}

.u20_original {
    background-image: url('../more_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:152px;
    top:56px;
    width:24px;
    height:24px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:152px;
    top:56px;
    width:24px;
    height:24px
}

.u22_original {
    background-image: url('../more_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:101px;
    width:330px;
    height:329px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:335px;
}

.u23 {
    position:absolute;
    left:2px;
    top:156px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:0px;
    top:101px;
    width:330px;
    height:329px
}

.u24 {
    position:absolute;
    left:15px;
    top:124px;
    width:295px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:50px;
    top:165px;
    width:140px;
    height:45px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:13px;
    top:288px;
    width:300px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:53px;
    top:344px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../more_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:11px;
    top:249px;
    width:297px;
    height:3px;
}

.u28 {
    position:absolute;
    left:11px;
    top:249px;
    width:297px;
    height:3px
}

